
@import url('http://fonts.cdnfonts.com/css/ocr-a-extended');

/* .app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
} */



* {
    color: #22e636;
    background: black;
    /* courer is another font that can be used */
    /* font-family: Courier; */ 
    font-family: 'OCR A Extended', sans-serif; 
    text-shadow: 0px 0px 3px rgb(47, 153, 56),
                0px 0px 3px rgb(47, 153, 56);
}

body {
    font-weight: 600; 
}

/* mouse over link */
a:hover {
    color: black;
    background-color: #22e636;
    transition: 0.3s;
  }

/* selected link */
a:active {
    color: red;
  }
